.resources {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
    display: inline-block;
    padding: 2rem;
    width: 25%;
    margin-right: 2rem;
    
    @media (max-width: $breakpoint-tablet) {
        padding: 1.66rem;
        margin-right: 1rem;
    }

    @media (max-width: $breakpoint-mobile) {
        padding: 0.35rem;
        margin-right: 0.5rem;
    }
    
    .title {
        @include size(h6);
        @include margin-bottom(0.5);
        font-weight: 500;
    }
    
    .resource-row td:nth-child(1) {
        text-align: left;
        padding-bottom: 0.25rem;
    }
    
    .resource-row td:nth-child(2) {
        text-align: right;
        padding-bottom: 0.25rem;
    }
}

