@mixin progress($color: #4a4a4a, $bg-color: #dbdbdb) {
    appearance: none;
    border: 0;
    border-radius: 5000px;
    display: inline-block;
    height: 1.75rem;
    overflow: hidden;
    padding: 0;
    width: 100%;
    vertical-align: middle;
    transition: none!important;

    &::-webkit-progress-bar {
        background-color: $bg-color;
    }

    &::-webkit-progress-value {
        background-color: $color;
        background-size: 30px 30px;
        background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                      transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                      transparent 75%, transparent);
                      
        animation: move_custom 5s infinite;
    }
    
    &::-moz-progress-bar {
        background-color: $color;
    }
    
}

@keyframes move_custom {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
