/*===============================
=            Plant Seed           =
===============================*/
.plant-seed-enter,
.plant-seed-leave-to {
    opacity: 0;
}

.plant-seed-enter-active {
    transition: opacity 1s ease-out;
}

.plant-seed-leave-active {
    transition: opacity 1.5s ease;
}

/*===============================
=       Notificaitons List            =
===============================*/
.notifications-list-enter,
.notifications-list-leave-to {
    opacity: 0;
}

.notifications-list-enter-active,
.notifications-list-leave-active {
    transition: opacity 1s ease;
}

.notifications-list-move {
    transition: transform 0.5s ease;
}

/*===============================
=            Main           =
===============================*/
.main-enter,
.main-leave-to {
    opacity: 0!important;
}

.main-enter-active {
    transition: opacity 2s ease!important;
}

.main-leave-active {
    transition: none!important;
}

/*===============================
=            progress-upgrades           =
===============================*/
.progress-upgrades-enter,
.progress-upgrades-leave-to {
    max-height: 1px;
    overflow-y: hidden;
}

.progress-upgrades-enter-to,
.progress-upgrades-leave {
    max-height: 7rem;
    overflow-y: hidden;
}

.progress-upgrades-enter-active {
    transition: all 0.35s ease-out;
}

.progress-upgrades-leave-active {
    transition: all 0.35s ease;
}

/*===============================
=            active-view           =
===============================*/
.view-enter,
.view-leave-to {
    opacity: 0;
}

.view-enter-active {
    transition: all 0.7s ease-out!important;
}

.view-leave-active {
    transition: all 0s linear!important;
}
