// -----------------------------------------------------------------------------
// This file contains everything related to typography.
// -----------------------------------------------------------------------------
$line-height: 1.4;

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Helvetica Neue', Arial;
    line-height: $line-height;
    color: $body-color;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/assets/fonts/hinted-subset-HelveticaNeue-Medium.eot');
    src: url('/assets/fonts/hinted-subset-HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/hinted-subset-HelveticaNeue-Medium.woff2') format('woff2'),
        url('/assets/fonts/hinted-subset-HelveticaNeue-Medium.woff') format('woff'),
        url('/assets/fonts/hinted-subset-HelveticaNeue-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/assets/fonts/hinted-subset-HelveticaNeue.eot');
    src: url('/assets/fonts/hinted-subset-HelveticaNeue.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/hinted-subset-HelveticaNeue.woff2') format('woff2'),
        url('/assets/fonts/hinted-subset-HelveticaNeue.woff') format('woff'),
        url('/assets/fonts/hinted-subset-HelveticaNeue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/assets/fonts/hinted-subset-HelveticaNeue-Light.eot');
    src: url('/assets/fonts/hinted-subset-HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/hinted-subset-HelveticaNeue-Light.woff2') format('woff2'),
        url('/assets/fonts/hinted-subset-HelveticaNeue-Light.woff') format('woff'),
        url('/assets/fonts/hinted-subset-HelveticaNeue-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/assets/fonts/hinted-subset-HelveticaNeue-Bold.eot');
    src: url('/assets/fonts/hinted-subset-HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/hinted-subset-HelveticaNeue-Bold.woff2') format('woff2'),
        url('/assets/fonts/hinted-subset-HelveticaNeue-Bold.woff') format('woff'),
        url('/assets/fonts/hinted-subset-HelveticaNeue-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* 
 * Modular scale
 * http://www.modularscale.com/?1.05&em&1.2
*/
$type-scale: (
    hero: 4.515rem,
    h1: 3.135rem,
    h2: 2.613em,
    h3: 2.177rem,
    h4: 1.814rem,
    h5: 1.512rem,
    h6: 1.26rem,
    p: 1.05rem,
);

/* 
 * Modular scale
 * http://www.modularscale.com/?1&em&1.15
*/
$type-scale-tablet: (
    hero: 3.059rem,
    h1: 2.313rem,
    h2: 2.011rem,
    h3: 1.749rem,
    h4: 1.521rem,
    h5: 1.322rem,
    h6: 1.15rem,
    p: 1rem,
);

/* 
 * Modular scale
 * http://www.modularscale.com/?1&em&1.1
*/
$type-scale-mobile: (
    hero: 2.144rem,
    h1: 1.722rem,
    h2: 1.611rem,
    h3: 1.464rem,
    h4: 1.331rem,
    h5: 1.21rem,
    h6: 1.1rem,
    p: 1rem,
);
$breakpoint-tablet: 65em;
$breakpoint-mobile: 35em;
$whitespace: $line-height * map-get($type-scale, p);

@mixin size($level) {
    font-size: map-get($type-scale, $level);

    @media (max-width: $breakpoint-tablet) {
        font-size: map-get($type-scale-tablet, $level);
    }

    @media (max-width: $breakpoint-mobile) {
        font-size: map-get($type-scale-mobile, $level);
    }
}

@mixin margin-bottom($level) {
    margin-bottom: $line-height * map-get($type-scale, p) * $level;

    @media (max-width: $breakpoint-tablet) {
        margin-bottom: $line-height * map-get($type-scale-tablet, p) * $level;
    }

    @media (max-width: $breakpoint-mobile) {
        margin-bottom: $line-height * map-get($type-scale-mobile, p) * $level;
    }
}

@mixin margin-top($level) {
    margin-top: $line-height * map-get($type-scale, p) * $level;

    @media (max-width: $breakpoint-tablet) {
        margin-top: $line-height * map-get($type-scale-tablet, p) * $level;
    }

    @media (max-width: $breakpoint-mobile) {
        margin-top: $line-height * map-get($type-scale-mobile, p) * $level;
    }
}

@mixin padding-bottom($level) {
    padding-bottom: $line-height * map-get($type-scale, p) * $level;

    @media (max-width: $breakpoint-tablet) {
        padding-bottom: $line-height * map-get($type-scale-tablet, p) * $level;
    }

    @media (max-width: $breakpoint-mobile) {
        padding-bottom: $line-height * map-get($type-scale-mobile, p) * $level;
    }
}

@mixin padding-top($level) {
    padding-top: $line-height * map-get($type-scale, p) * $level;

    @media (max-width: $breakpoint-tablet) {
        padding-top: $line-height * map-get($type-scale-tablet, p) * $level;
    }

    @media (max-width: $breakpoint-mobile) {
        padding-top: $line-height * map-get($type-scale-mobile, p) * $level;
    }
}

ol,
ul {
    padding-left: 1.4rem;
}

@mixin container($width: 48rem, $padding: 0.25rem) {
    margin: auto;
    max-width: $width;
    padding-left: $padding;
    padding-right: $padding;
}

a {
    text-decoration: none;
    color: inherit;
}
